.nav_inner {
    /* Your custom styles for the inner nav */
}

.nav_list {
    list-style: none;
    padding: 0;
}

.nav_list li a i {
    font-size: 16px;
}
.nav_list li a:hover i::before {
    color: white;
}
.nav_list > li.active a > i {
    color: white;
    background-color: #111ae9;
    box-shadow: 0px 4px 5px 0px rgba(17, 26, 233, 0.4);
}

.dropdown {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
}

.dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    display: block;
    border: none;
    background: none;
    width: 100%;
    cursor: pointer;
    outline: none;
}

.dropdown-btn:hover,
.dropdown-item:hover {
    color: #111ae9;
}

.dropdown-container {
    margin: 1px;
    display: none;
}

.dropdown-container a {
    margin-right: 10px;
}

.drop-item-active {
    color: #111ae9;
    background-color: #f3f5f5 !important;
    width: 100%;
}

.show {
    display: block !important;
}

.logout-trigger {
    cursor: pointer;
}
