.scanner-page {
    min-height: 100vh;
    background-color: #f36a30;
}

.status {
    padding: 10px;
}

.status .box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.status .box img {
    height: 150px;
    width: 150px;
}

.status .box h3 {
    color: #000;
    font-weight: 700;
}

.scanner-header {
    min-height: 30vh;
}

.scanner-header h4 {
    margin: 0px;
}

.scanner-header .event-name {
    background-color: #fff;
    padding: 20px 10px;
    text-align: center;
    font-weight: bold;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.scanner-header .door-name {
    padding: 20px 10px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.add-new-session {
    transition: 0.2s ease-in;
    padding: 10px;
    text-align: center;
    color: black;
    background-color: #fff;
    width: 100%;
    margin-bottom: 2px;
}

.add-new-session:hover {
    background-color: #cfc1bb !important;
}

.scanner-inner {
    padding-top: 20px;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.qr-image {
    height: 150px;
    width: 150px;
}

.qr-box h3 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: thin;
    color: #fff;
    text-transform: lowercase;
}

.qr-box {
    cursor: pointer;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.qr-box:hover .qr-image {
    transform: scale(1.1);
}

#video-container {
    position: relative;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    width: 100%;
}

#qr-video {
    width: 100%;
    overflow: hidden;
}

#viewfinder {
    display: none;
}

.status {
    background-color: #fff;
}
