* {
    font-family: "Montserrat", sans-serif !important;
}

body {
    background-color: #001232 !important;
}

.nav-scroll {
    background-color: #0a1e5e !important;
    color: #fff !important;
}

.navbar-collapse {
    color: #fff !important;
}

.bg-cream {
    background-color: #001232 !important;
}

.back-button {
    font-size: 12px;
    font-weight: 400;
    padding: 0px 4px;
}

.custom-button {
    background-color: #f3510b;
    padding: 7px 16px;
    font-weight: 600;
    color: #ffffff;
    text-transform: uppercase;
    border-radius: 25px;
    display: inline-block;
    transition: transform 0.3s ease-in-out;
}

.custom-button:hover {
    transform: scale(1.1);
    background-color: #f3510b !important;
}

.tick {
    color: #fff !important;
}

.text-cus-secondary,
.nav-link {
    color: #ffffff !important;
}

.dropdown-menu {
    background-color: #001232 !important;
}

.dropdown-item:hover {
    color: #bd3d06 !important;
}

.footer-top {
    background-color: #0a1e5e !important;
}

.line-footer {
    height: 4px;
    width: 60px;
    background-color: #c16842;
}

.line-footer:hover {
    background-color: #bd3d06 !important;
    width: 50%;
    transition: 1.5s;
    transition-duration: 0.8s;
    transition-timing-function: ease-in-out;
}

.event-box {
    margin: 15px 0px 0px 0px !important;
    box-shadow: -10px 0px 5px #3f3f3f6b;
    padding: 0px;
    overflow: scroll;
    background-color: #cccac8;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.nav-pills .nav-link.active {
    background-color: #ffffff !important;

}

.nav-pills .nav-link.active * {
    color: #bd3d06 !important;
}

.sec-hd {
    display: flex;
    justify-content: center;
    background-color: #f3510b;
}

.days {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #fff;
}

.days-select {
    margin: 0px;
    color: #fff;
}

.info-date {
    color: #fff;
    margin: 0px;
}

.ticket-info {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.sold {
    position: absolute;
    color: #bd3d06;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 2px;
    top: 12px;
    right: 150px;
    transform: rotate(-20deg);
    border: 2px solid #bd3d06;
}

.sold-sm{
    color: #bd3d06;
    padding: 2px 10px;
    border: 1px solid #bd3d06;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 4px;
    border-radius: 10px;
;
}


.t-info {
    margin: 0px;

}

.t-date {
    margin: 0px;
    font-size: 14px;
    letter-spacing: 2px;
    background-color: #fbf3f399;
    width: 80%;
    color: #161313;

}

.t-title {
    margin: 0px;
    font-size: 22px;
    letter-spacing: 2px;
    color: #000000;
    font-weight: 700;
}

.t-des {
    margin: 0px;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #161313;
    width: 80%;
}

.t-prize {
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.ticket-select {
    height: 50px;
    width: 80px;
}

.ticket-input {
    margin-top: 14px;
}

.tick {
    padding: 0px 0px !important;
}


.card-ticket.active {
    border: #f3510b 3px solid;
}

.ticket-prize {
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 2px;
}

.tab-content {
    height: 500px !important;
    width: auto;
    overflow: scroll !important;
    padding: 5px 15px;
}



.event-buttton {
    border-top: 2px solid #fff;
    width: 100%;
    background-color: #f3510b;
    display: flex;
    justify-content: space-between;
    font-size: 26px;
    letter-spacing: 2px;
    padding: 10px;
    color: #fff;
    font-weight: 500;
}

.card-ticket {
    transition: .2s ease-in;
}

.card-ticket:hover {
    box-shadow: 5px 5px 10px #89513980;
}

.event-buttton:hover {
    border-top: 2px solid #fff;
    background-color: #e0642fc5;
}

.event-details {
    background-color: #ffffff;
    margin: 15px 0px 0px 0px !important;
    box-shadow: 0px 0px 20px -16px #c8c7c7;
    padding: 0px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    overflow: scroll !important;
}

.event_img {
    display: flex;
    justify-content: center;
    height: 320px;
    width: auto;
    object-fit: cover;
}



.events-title {
    display: flex;
    justify-content: center;
    color: #1d1c1c;
    font-size: 26px;
    letter-spacing: 2px;
}

.card-ticket {
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 30px !important;
}

.accordins {
    height: 238px;
    overflow: scroll;
    padding: 0px 20px;
}

.accordin-item {
    display: flex;
    gap: 20px;
    margin: 10px 0px;
}

.accordin-item>div {
    color: #f3510b !important;
}

.accordin-item>div>h5 {
    font-size: 20px;
    font-weight: bold;
    color: #161313;
    margin-bottom: 5px;
}

.accordin-item>div>h6 {
    font-size: 18px;
    font-weight: bold;
    color: #656363;
    margin-bottom: 5px;
}

.accordin-item>div>p {
    font-size: 14px;
    color: #464343;
}

.according-div {
    padding: 0px 20px;
    height: auto;
}

.according-item {
    align-items: center;
    margin-bottom: 10px;
    display: flex;
    gap: 10px;
}


.according-img {
    height: 50px;
    width: 50px;
}

.img-location {
    height: 40px;
    width: 40px;
}

.img-desc {
    height: 40px;
    width: 40px;
}

.start-date {
    display: flex;
    flex-direction: column;
    padding: 0px;
}

.start-date>span {
    margin: 0px;
    font-size: 14px;
    font-weight: 500;
    color: #1d1c1c;
}

.s-date {
    margin-bottom: 0px;
    font-size: 12px;
}

.footer-explore-list li a:hover {
    color: #bd3d06 !important;
}

.footer-about-social-list a:hover {
    color: #bd3d06 !important;
}

.footer-contact-phone:hover {
    color: #bd3d06 !important;
}

.nav-link .dropdown-toggle {
    font-weight: 700 !important;
}

.active-class {
    background: #f36a30;
    border-radius: 50px;
    padding: 15px 0px;
    font-weight: 800;
}

.user-name {
    border: 5px solid #f36a30 !important;
    border-radius: 12px !important;
    margin-bottom: 15px;

}

.user-dash-font {
    color: #001232 !important;
    font-size: 18px;
    font-weight: 600;
}

.ec-vendor-dashboard-card {
    position: relative;
    border: 5px solid #f36a30 !important;
    border-radius: 12px !important;

}

.dashboard-title {
    color: #f36a30;
    font-weight: 600;
}

.dashboard-edit {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #f36a30;
}

.ec-vendor-card-body .form-group {
    margin: 0px !important;
}

.ec-vendor-card-body .form-group>label {
    margin: 0px;
    color: #1d1c1c !important;
    font-size: 18px;
    font-weight: 700;
}

.ec-vendor-card-body .form-group>input {
    padding: 0px;
    border: none;
    border-bottom: 2px solid #1d1c1c;
    border-radius: 0px;
}

.ec-vendor-card-body .form-group>input {
    color: #2b2b2b;
    font-size: 18px;
    font-weight: 500;
}


.ec-vendor-card-body .form-group>select {
    padding: 0px !important;
    border: none !important;
    border-bottom: 2px solid #1d1c1c !important;
    border-radius: 0px !important;
    color: #2b2b2b !important;
    font-size: 18px !important;
    font-weight: 500 !important;
}

.btn-primary {
    background-color: #f36a30 !important;
}

.sidebar-dashboard {
    display: flex;
    flex-direction: column;
    gap: 10px
}

.order-table th {
    font-size: 16px;
}

.order-table td {
    font-size: 14px;
}

.payinfo th {
    text-transform: uppercase;
}

.payinfo td {
    padding: 0px;
    font-weight: 700;
}

.i-class {
    position: relative;
}

.input-fontawesome {
    position: absolute;
    top: 10px;
    left: 22px;
    font-size: 22px;
}

.login-input {
    width: 80% !important;
    background-color: #ffff !important;
    border-radius: 20px !important;
    padding: 10px 60px !important;
}

.login-pass {
    width: 80% !important;
    background-color: #ffff !important;
    border-radius: 20px !important;
    padding: 10px 60px !important;
}

.login-btn {
    width: 80%;
    background-color: #f36a30 !important;
    border-radius: 20px !important;
    padding: 5px 0px;
}

@media (max-width: 600px) {

    .login-input {
        width: 80% !important;
        background-color: #ffff !important;
        border-radius: 20px !important;
        padding: 10px 60px !important;
    }

    .login-pass {
        width: 80% !important;
        background-color: #ffff !important;
        border-radius: 20px !important;
        padding: 10px 60px !important;
    }

    .login-btn {
        width: 80%;
        background-color: #f36a30 !important;
        border-radius: 20px !important;
        padding: 5px 0px;
    }

    .input-fontawesome {
        position: absolute;
        top: 10px;
        left: 32px;
        font-size: 22px;
    }

}

.reg-pass {
    width: 100% !important;
    background-color: #ffff !important;
    border-radius: 20px !important;
    padding: 10px 10px !important;
}

.reg-btn {
    width: 100%;
    background-color: #f36a30 !important;
    border-radius: 20px !important;
}

.payinfo td,
th {
    padding: 4px;
}

.pdf {
    background-color: #ffff;
}

.ticket-pdf {
    border: 3px solid #c16842;
}

.thank-title {
    color: #656e96;
    font-size: 28px;
    font-weight: 600;
}

.thank-i {
    font-size: 50px !important;
    color: #d9a663 !important;
}

.section-space-p {
    margin-top: 110px !important;
    margin-bottom: 110px !important;
}